{% load staticfiles  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ee70558903.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif|Noto+Serif+KR|Stylish&display=swap"
          rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
<div style="background-color:rgb(242,242,242)">
    <div class="container" style="font-family: 'Noto Serif KR'">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link btn btn-link" href="{% url 'accounts:user_page' user.id %}">
                        <strong>{{user}}</strong>님</a>
                    <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'accounts:login' %}">login</a>
                    <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">signup</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'banner6.png' %}">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'posts:index' %}">Home</a>
            <a class="dropdown-item" href="{% url 'posts:create' %}">Recruit</a>
            <a class="dropdown-item" href="{% url 'match:set_conditions' %}">Match</a>
          </div>
        </div>
    </div>



    <div class="container d-flex justify-content-center mt-5" style="font-family: 'Noto Serif KR'; background-color:rgb(141,80,53)">

        {% if request.resolver_match.url_name == 'index' or 'search' %}
        <form action="{% url 'posts:search' %}" method="POST">
            {% csrf_token %}
            <div class="d-flex flex-row bd-highlight mb-2.5 ">
                <!-- 셀렉트 박스 시작-->
                <span class="d-flex flex-wrap justify-content-center align-items-center p-2 bd-highlight">
                    <select class="custom-select" name="study_category">
                        <option selected>카테고리</option>
                        <option value="python">python</option>
                        <option value="r">R</option>
                        <option value="java">java</option>
                        <option value="c">C</option>
                    </select>
                </span>
                <span class="d-flex flex-wrap justify-content-center align-items-center p-2 bd-highlight">
                    <select class="custom-select" name="study_place">
                        <option selected>장소</option>
                        <option value="강남역">강남역</option>
                        <option value="역삼역">역삼역</option>
                        <option value="교대역">교대역</option>
                    </select>
                </span>
                <span class="d-flex flex-wrap justify-content-center align-items-center p-2 bd-highlight">
                    <select class="custom-select" name="study_day">
                        <option selected>시간</option>
                        <option value="주1회">주1회</option>
                        <option value="주2회">주2회</option>
                        <option value="주3회">주3회</option>
                    </select>
                </span>
                <!--셀렉트 박스 끝-->
                <!--검색 버튼 시작-->
                <span class="d-flex flex-wrap justify-content-center align-items-center p-2 bd-highlight">
                    <input type="text" class="form-control" id="content" name="query">
                </span>
                <div class="d-flex align-items-center">
                    <button class="btn" type="submit" style="background:rgb(250,188,61)">Search</button>
                </div>
                <!--검색 버튼 끝-->
            </div>
        </form>
        {% endif %}
    </div>
    <div class="container mt-4">
        {% block body %}

        {% endblock %}
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!--javascript for accounts:pick -->
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const pick_buttons = document.querySelectorAll('.btn-outline-success')
        pick_buttons.forEach(function (button) {
            button.addEventListener('click', e => {

                if (window.location['href'].includes('match')) {
                    const user_id = e.target.dataset.id
                    axios_obj = axios.get(`/accounts/${user_id}/pick/`)
                }
                else {
                    const post_id = e.target.dataset.id
                    axios_obj = axios.get(`/posts/${post_id}/apply/`)
                }

                axios_obj.then(function (response) {
                        // 이미 장바구니에 담긴 사용자라면
                        //버튼을 눌렀다면
                        if (e.target.children.length == 1) {
                            if (response.data.picked) {
                                e.target.classList.remove('btn-outline-success')
                                e.target.classList.add('btn-outline-warning')
                                e.target.children[0].classList.remove('fa-cart-plus')
                                e.target.children[0].classList.add('fa-cart-arrow-down')
                            }
                            // 장바구니에 담겨있지 않은 사용자일 때
                            else {
                                e.target.classList.add('btn-outline-success')
                                e.target.classList.remove('btn-outline-warning')
                                e.target.children[0].classList.remove('fa-cart-arrow-down')
                                e.target.children[0].classList.add('fa-cart-plus')
                            }
                        }
                        // 아이콘을 눌렀다면
                        else {
                            if (response.data.picked) {
                                e.target.parentNode.classList.remove('btn-outline-success')
                                e.target.parentNode.classList.add('btn-outline-warning')
                                e.target.classList.remove('fa-cart-plus')
                                e.target.classList.add('fa-cart-arrow-down')
                            }
                            // 장바구니에 담겨있지 않은 사용자일 때
                            else {
                                e.target.parentNode.classList.add('btn-outline-success')
                                e.target.parentNode.classList.remove('btn-outline-warning')
                                e.target.classList.remove('fa-cart-arrow-down')
                                e.target.classList.add('fa-cart-plus')
                            }
                        }
                    }
                )
            }
                , true
        )
        })

    </script>
</div>
</body>
</html>