{% load staticfiles  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>{% block style%}{% endblock %}
    </style>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'posts:index' %}">GUHAM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'posts:index' %}">posts:index<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'posts:create' %}">posts:create</a>
                <a class="nav-item nav-link" href="{% url 'match:set_conditions' %}">match:set_conditions</a>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'accounts:user_page' user.id %}">current user = <b>{{user}}</b></a>
                <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">accounts:logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'accounts:login' %}">accounts:login</a>
                <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">accounts:signup</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>

{% if request.resolver_match.url_name == 'index' %}
<div class="d-flex justify-content-center">
    <img src="{% static 'logo2.png' %}" alt="">
</div>

<div class="container">
    <form action="">
        <div class="d-flex flex-row bd-highlight mb-2.5">
          <div class="d-flex flex-wrap justify-content-center p-2 bd-highlight">
              <button type="button" class="btn btn-primary w-100 p-2">
                  지역
              </button>
              <select class="custom-select">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
          <div class="d-flex flex-wrap justify-content-center p-2 bd-highlight">
              <button type="button" class="btn btn-primary w-100 p-2">
                  지역
              </button>
              <select class="custom-select">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
          <div class="d-flex flex-wrap justify-content-center p-2 bd-highlight">
              <button type="button" class="btn btn-primary w-100 p-2">
                  지역
              </button>
              <select class="custom-select">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
<!--          <div class="p-2 bd-highlight">-->
<!--              <button type="submit"><img src="{% static 'logo.png' width=50 %}" alt=""></button>-->
<!--          </div>-->
        </div>
    </form>
</div>
{% endif %}



<div class="container">
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</div>
</body>
</html>