{% extends 'posts/base.html' %}

{% block title %} posts:detail {% endblock %}

{% block body %}
<h1>title: {{post_selected.title}}</h1>
<h2>user : {{post_selected.user}}</h2>
<p>summary: {{post_selected.summary}}</p>
<p>contents: {{post_selected.content}}</p>
<a href="{% url 'posts:index' %}" class="btn btn-outline-primary">posts:index</a>
<a href="{% url 'posts:delete' post_selected.id %}" class="btn btn-outline-danger">posts:delete</a>
<a href="{% url 'posts:update' post_selected.id %}" class="btn btn-outline-warning">posts:update</a>
{% endblock %}