{% load bootstrap4 %}
{% load staticfiles  %}

<div id="study_card" class="card-duck">
    <div class="card">
        <div id="study_card_header" class="card-header" style="font-family: 'Noto Serif KR', serif;background-color:rgb(220,230,242)">
            <h5 class="d-flex justify-content-center"><a href="{% url 'accounts:user_page' post.user.id %}">{{post.user}}</a></h5>
        </div>
        <div class="card-body">
            <div class="row d-flex align-items-center d-flex justify-content-center">
                <div class="col-6 d-flex justify-content-end">
                    {% if post.category == 'python' %}
                    <img src="{% static 'python3.png' %}" alt="python">
<!--                    <h5><strong>python</strong></h5>-->
                    {% elif post.category == 'r' %}
                    <img src="{% static 'r5.png'%}" alt="R">
<!--                    <h5><strong>R</strong></h5>-->
                    {% elif post.category == 'java' %}
                    <img src="{% static 'java1.png'%}" alt="java">
<!--                    <h5><strong>java</strong></h5>-->
                    {% elif post.category == 'c' %}
                    <img src="{% static 'c6.png'%}" alt="c">
<!--                    <h5><strong>C</strong></h5>-->
                    {% endif %}
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center" style="text-align:center">
                    <h3 style="font-family: 'Stylish', sans-serif;">{{ post.place }} </h3>
                </div>

                <div class="mt-4">
                    <a href="{% url 'match:detail' post.id %}"><img src="{% static 'more_button2.png' %}" alt="more button"></a>
                    {% if user != post.user %}
                        {% if post.user in user.pick.all %}
                        <!--            장바구니에서 제거 -->
                        <button class="btn btn-outline-success" data-id="{{post.user.id}}">
                            <i class="fas fa-cart-arrow-down" data-id="{{post.user.id}}"></i>
                        </button>
                        {% else %}
                        <!--            장바구니에서 추가 -->
                        <button class="btn btn-outline-success" data-id="{{post.user.id}}">
                            <i class="fas fa-cart-plus" data-id="{{post.user.id}}"></i>
                        </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer" style="font-family: 'Noto Serif KR', serif;">
            <small class="text-muted">
                {% if post.hash_tag.all %}
                {% for hash_tag in post.hash_tag.all %}
                <a href="{% url 'match:hash_tagged_posts' my_post.id hash_tag.id %}">{{hash_tag.content}}</a>
                {% endfor %}
                {% else %}
                <div class="d-flex justify-content-center">
                    <p style="font-family: 'Noto Serif KR';text-align:center"> 해시태그가 없군...</p>
                </div>
                {% endif %}
            </small>
        </div>
    </div>
</div>
