{% extends 'posts/base.html' %}

{% block title %} {% endblock %}

{% block body %}
<h2>user : {{post_selected.user}}</h2>
<p>content: {{post_selected.content}}</p>
<p>hashtags: {{post_selected.hash_tag_list}}</p>
<a href="{% url 'match:matched_users' user.id %}" class="btn btn-outline-primary">뒤로가기</a>
{% if post_selected.user in user.pick.all %}
<a href="{% url 'accounts:pick' post_selected.user.id %}" class="btn btn-outline-danger">장바구에서 빼기</a>
{% else %}
<a href="{% url 'accounts:pick' post_selected.user.id %}" class="btn btn-outline-danger">장바구니 담기</a>
{% endif %}
{% endblock %}