{% extends 'posts/base.html' %}

{% block title %} {% endblock %}

{% block body %}
<h1>match:detail</h1>
<div>
    <h3>매칭 조건</h3>
    <div class="container">
        <div class="row">
            {% load bootstrap4 %}
            <div class="card">
                <div class="card-body">
                    <img src="https://picsum.photos/id/{{ post_new.id }}/250/50" class="card-img-top">
                    <p class="card-text">
                        <br>user: {{ post_new.user }}
                        <br>category : {{ post_new.category }}
                        <br>place : {{ post_new.place }}
                        <br>content : {{ post_new.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<p>소요 시간 출력</p>
<a href="url 'match:matched_users' post_new.id " class="btn btn-outline-success">매칭 시작 => match:start</a>
{% endblock %}
