{% extends 'posts/base.html' %}
{% load match_templatetag %}
{% load bootstrap_pagination %}

{% block title %} {% endblock %}

{% block body %}
<h1>match:matched_users</h1>
<div class="container">
    <div class="card">
        <div class="card-body">
            <img src="https://picsum.photos/id/{{ my_post.id }}/250/100" class="card-img-top">
            <p class="card-text">
            <h1>my match post</h1>
            <br>user: <a href="{% url 'accounts:user_page' my_post.user.id %}">{{ my_post.user }}</a>
            <br>category : {{ my_post.category }}
            <br>place : {{ my_post.place }}
            <p>
                {% for hash_tag in post.hash_tag.all %}
                <a href="{% url 'match:hash_tagged_posts' my_post.id hash_tag.id %}">{{hash_tag.content}}</a>,
                {% endfor %}
            </p>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for post in posts %}
            {% include 'match/_match_post.html' %}
        {% endfor %}
    </div>
</div>
<div class="d-flex justify-content-center" style="font-family: 'Noto Serif KR'">
    {% bootstrap_paginate posts range=5 %}
</div>

<a href="{% url 'match:set_conditions' %}" class="btn btn-outline-warning">취소 => match:set_conditions</a>

{% endblock %}



