{% extends 'posts/base.html' %}
{% load match_templatetag %}
{% load staticfiles  %}
{% load bootstrap_pagination %}

{% block title %} {% endblock %}

{% block body %}

<div class="d-flex justify-content-center">
    <div class="col-8">
        <div class="mt-5" style="font-family: 'Noto Serif KR';text-align:center" >
            <h2>매칭판</h2>
        </div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <p class="card-text">
            <h1>my match post</h1>
            <br>user: <a href="{% url 'accounts:user_page' my_post.user.id %}">{{ my_post.user }}</a>
            <br>category : {{ my_post.category }}
            <br>place : {{ my_post.place }}
            <p>
                {% for hash_tag in post.hash_tag.all %}
                <a href="{% url 'match:hash_tagged_posts' my_post.id hash_tag.id %}">{{hash_tag.content}}</a>,
                {% endfor %}
            </p>
            </p>
        </div>
    </div>
    <hr>

    <div class="row">
        {% for post in posts %}
            {% include 'match/_match_post.html' %}
        {% endfor %}
    </div>
</div>

<div class="d-flex justify-content-center" style="font-family: 'Noto Serif KR'">
    {% bootstrap_paginate posts range=5 %}
</div>
<div class="d-flex justify-content-end">
    <a href="{% url 'match:set_conditions' %}"><img src="{% static 'cancel.png' %}"></a>
</div>

{% endblock %}



